@{
    Layout = "~/Views/Shared/_DynamicNavMenu.cshtml";
}

<h1 class="text-center">Dynamic Bootstrap Navigation</h1>
<p class="text-center">
    This demo shows how to cretae a dynamic bootstrap menu using hard-coded values that can easily be changed to pull the data from a database.
</p>
