<div class="container">
    <div class="row">
        <div class="col-12">
            @if (TempData["Status"] != null)
            {
                <p>@TempData["Status"]</p>
            }
        </div>
    </div>
</div>

