
<div class="container">
    <div class="row">
        <div clas="col-12">
            <ul>
                <li>@Html.ActionLink("Bootstrap Demo Nav", "BootstrapNav", "BootstrapNavigation")</li>
            </ul>
        </div>
    </div>
</div>

