@model  Web.Controller.Helpers.DisplayPagerViewModel

@{
    string query = Request.QueryString["q"];
    var currentPage = Model.Pager.CurrentPage;


    if (currentPage == 0)
    {
        currentPage = 1;
    }
}

@if (Model.Pager.EndPage > 1)
{
    <div class="container">
        <nav aria-label="Page navigation">
            <p class="text-info mt-3">Page @currentPage of @Model.Pager.TotalPages</p>
            <ul class="pagination">
                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        @if (!string.IsNullOrEmpty(query))
                        {
                            <a class="page-link" href="?q=@query&page=@page">@page</a>
                        }
                        else
                        {
                            <a class="page-link" href="?page=@page">@page</a>
                        }

                    </li>
                }
            </ul>
        </nav>
    </div>
}
